<ng-container *ngIf="(router.url != '/login' && router.url != '/logout')">
  <mat-toolbar>
    <span>{{title}}</span>
    <mat-icon>check</mat-icon>
    <span class="spacer"></span>

    <!-- USER BUTTON -->
    <div *ngIf="user != undefined">
      <button mat-stroked-button aria-label="navbar button 'account'">
        <div class="text-icon-button">
          <mat-icon>person</mat-icon>
          {{user.username}}
        </div>
      </button>

    </div>
  </mat-toolbar>
</ng-container>

<div class="p-1">
<router-outlet></router-outlet>
</div>
